*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body {
    background-color: #f8fafc;
    color: #1e293b;
    transition: all 0.3s ease;
}

/* ========== DARK MODE ========== */

body.dark-mode {
    background-color: #0f172a;
    color: #f1f5f9;
}

body.dark-mode nav {
    background-color: #1e293b;
}

body.dark-mode .hero {
    background: linear-gradient(to right, #0f172a, #1e293b);
}

body.dark-mode .card {
    background-color: #334155;
    color: white;
}

body.dark-mode footer {
    background-color: black;
}

/* ========== NAVBAR ========== */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    background:#e5ebef;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.nav-links{
    display:flex;
    gap:25px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:black;
    font-weight:600;
}

body.dark-mode .nav-links a{
    color:white;
}

/* ========== HERO ========== */

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(to right,#f8fafc,#e0f2fe);
}

.hero img{
    margin-bottom:40px;
    border-radius:8px;
}

.hero h1{
    font-size:36px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

/* ========== BUTTON ========== */

button{
    padding:10px 20px;
    background:white;
    border:2px solid black;
    border-radius:6px;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}

button:hover{
    background:#1d4ed8;
    color:white;
    transform:scale(1.05);
}

body.dark-mode button{
    background:#334155;
    color:white;
    border:1px solid white;
}

/* ========== SECTIONS ========== */

.about, .projects, .contacts {
    padding:60px 20px;
    text-align:center;
}

.skills, .languages {
    text-align:center;
    padding:30px;
}

.skills ul, .languages ul, .contacts ul {
    list-style:none;
    padding-top:15px;
}

.skills li, .languages li {
    padding:6px;
}

/* ========== PROJECT CARDS ========== */

.project-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin-top:20px;
}

.card{
    background:white;
    padding:40px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

/* ========== FOOTER ========== */

footer{
    text-align:center;
    padding:20px;
    background:#0f172a;
    color:white;
}